@use "./mixins";
@use "./variables";
.operation-list {
  font-size: 1.4rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  counter-reset: etapes;
  p {
    position: relative;
  }
  &__resto {
    padding: 2rem 2rem;
    align-items: center;
    background-color: variables.$background;
    border-radius: 1rem;
    box-shadow: 2px 1px 8px -3px #7e7e7e;
    display: flex;
    gap: 1rem;
    flex-basis: 20rem;
    transition: all 200ms;
    &:hover {
      transform: scale(1.03);
      @include mixins.linear-gradient;
    }
  }
}
.operation-list p::before {
  content: counter(etapes);
  counter-increment: etapes;
  background-color:variables.$secondary;
  color: variables.$background-tertiary;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
@media (max-width: 1300px) {
  .operation-list {
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1rem;
  }
  .operation-list__resto{
    flex-basis: 1rem;
  }
}

