.list-fonctionnement {
  font-size: 1.4rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  counter-reset: etapes;
  p {
    position: relative;
  }
}
.list-fonctionnement p::before {
  content: counter(etapes);
  counter-increment: etapes;
  background-color: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
@media (max-width: 1300px) {
  .list-fonctionnement {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 3rem;
    font-size: 1.4rem;
  }
}
.list-fonctionnement-resto {
  padding: 2rem 2rem;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  display: flex;
  gap: 1rem;
  flex-basis: 20rem;
}
@media (max-width: 1300px){
  .list-fonctionnement-resto{
    flex-basis: 1rem;
  }
}
.list-fonctionnement-resto:hover {
  transform: scale(1.03);
  background: linear-gradient(rgb(222, 165, 255), rgb(206, 171, 206));
  transition: 200ms;
}
