@use "./mixins.scss";
.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  a{
    text-decoration: none;
    color: black;
  }
  &__placement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  &__texte {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    position: relative;
    h3 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  &__link{
    position: relative;
    h4{
      position: absolute;
      color: rgba(0, 0, 0, 0.61);
      right: 1rem;
      background-color: #99e2d0;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}
.cards
.card__heart,.card__heart-back {
  flex: 1 1 auto;
  text-align: end;
  padding-right: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 30%;
  font-size: 3rem;
  transition: all 300ms;
}
.card__heart-back{
  @include mixins.linear-gradient;
  opacity: 0;
  &:hover{
    opacity: 1;
    transform: scale(1.08);
  }
}
.menu-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background-position: 50%;
  height: 20rem;
}
@media (max-width: 1300px) {
  .card__placement {
    display: flex;
    flex-direction: column;
  }
}
