@mixin linear-gradient($color1:rgba(147,86,220,.9)) {
    background: linear-gradient($color1, rgba(255,121,218,.9));
}
@mixin color-green {
    color: #99e2d0;
}
@mixin background-green{
    background-color: #99e2d0;
}