@use "./variables";
@mixin linear-gradient($color1:variables.$secondary) {
    background: linear-gradient($color1, variables.$tertiary);
}
@mixin color($color:variables.$primary) {
    color: $color;
}
@mixin background($color:variables.$primary){
    background-color: $color;
}