body{
    margin: 0;
}
.bannier-image{
height: 40rem;
width: 100%;
object-fit: cover;
object-position: center;
}
main.restos{
    margin: 0;
    background-color: #f6f6f6;
}
.header__title-du-resto h2{
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
    font-family: "Shrikhand","cursive";
    padding: 2rem 1rem;
    margin-top: -2rem;
    margin-bottom: 0;
    position: relative;
    font-size: 2rem;
}
section.restos__menus{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    margin: 0 1rem 1rem;
    h4{
        font-size: 1.2rem;
        margin-left: 1rem;   
        margin-bottom: 0;
    }
    p{
        font-size: 1.2rem;
        margin-left: 1rem;  
        margin-top: 0.5rem;  
    }
}
.menu-item{
    display: flex;
    background-color: #fff;
    box-shadow: 2px 1px 8px -3px #7e7e7e;
    border-radius: 1rem;
    margin: 0 1rem 1rem;
    overflow: hidden;
    .menu-item__price{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding: 1rem;
    font-size: 1.2rem;
    }
}
.commande{
    padding: 5rem 0 8rem;
}
.commande__commander {
    text-align: center;
   a {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    font-size: 2rem;
    color: white;
    background: linear-gradient(rgb(222, 165, 255), rgb(206, 171, 206));
  } 
&:hover{
    transform: scale(1.03);
    transition: 200ms;
}
}
.footer{
    margin-top: 0;
}
.les-restaurants__coeur-page,.les-restaurants__coeur-page-1 {
    flex: 1 1 auto;
    text-align: end;
    padding-right: 0.5rem;
    position: absolute;
    right: 1rem;
    top: 80%;
    font-size: 3rem;
    transition: all 300ms;
}
  .les-restaurants__coeur-page-1{
    color: #ff79da;
    opacity: 0;
    &:hover{
      opacity: 1;
      transform: scale(1.08);
    }
}
  .menu-item__checkmark{
      border-radius: 0 1rem 1rem 0;
      width: 4rem;
      margin-right: -4rem;
      flex-shrink: 0;
      display: grid;
      place-items: center;
      background-color: #99e2d0;
      i{
          background: white;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          display: grid;
          place-items: center;
      }
}
.menu-item:hover .menu-item__checkmark{
    margin-right: 0;
    transition: margin-right .5s;
    i{
        animation: annim-check 0.5s ease;
    }
}
.fa-arrow-left{
    display: flex;
    font-size: 2rem;
    padding: 2rem;
}
.header__title__header{
    display: flex;
    font-family: "Shrikhand", cursive;
    text-align: center;
    font-size: 1.3rem;
    h1{
        margin: auto;
    }
    a{
        text-decoration: none;
        color: black;
    }
}
@media (max-width: 1300px){
    section.restos__menus{
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }
}
.menu-item, .menu-item__description, .resto__menu-plats, .restos__menus__entrees, .resto__menu-desserts, .menu-item__list-desserts{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}