@use"./mixins.scss";
@use"./variables.scss";
body {
  margin: 0;
}
.banner-image {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.restos {
  margin: 0;
  background-color: variables.$background;
  &__menus {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1rem 1rem;
    h4 {
      font-size: 1.2rem;
      margin-left: 1rem;
      margin-bottom: 0;
    }
    p {
      font-size: 1.2rem;
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }
  &__menu__section,
  &__menu__section * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__menu__section h2{
  text-transform: uppercase;
  position: relative;
  padding: 1rem 0;
  &::after{
      content: "";
      position: absolute;
      top: 3.5rem;
      left: 0;
      height: 0.25rem;
      width: 4.85rem;
      @include mixins.background;
  }
  }
}
.header__title-du-resto h2 {
  background-color: variables.$background;
  border-radius: 2rem 2rem 0 0;
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  margin-top: -2rem;
  margin-bottom: 0;
  position: relative;
  font-size: 2rem;
  
}
.menu-item {
animation: annim-page 1s;
animation-fill-mode: both;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}){
            animation-delay: 100ms 
            * $i;
        }
    }
  display: flex;
  background-color: variables.$background-tertiary;
  box-shadow: 2px 1px 8px -3px variables.$dark-tertiary;
  border-radius: 1rem;
  margin: 0 1rem 1rem;
  overflow: hidden;
  &__price {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding: 1rem;
    font-size: 1.2rem;
  }
  &__checkmark {
    border-radius: 0 1rem 1rem 0;
    width: 4rem;
    margin-right: -4rem;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    @include mixins.background;
    i {
      background: variables.$background-tertiary;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
    }
  }
  &__checkmark {
    transition: margin-right 0.5s;

    .menu-item:hover & {
      margin-right: 0;
      i {
        animation: annim-check 0.5s ease;
      }
    }
  }
}
.ordered {
  padding: 5rem 0 8rem;
  text-align: center;
  a {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    font-size: 2rem;
    color: variables.$background-tertiary;
    @include mixins.linear-gradient;
  }
  &:hover {
    transform: scale(1.03);
    transition: 200ms;
  }
}
.footer {
  margin-top: 0;
}
.card__heart,
.card__heart-back {
  flex: 1 1 auto;
  text-align: end;
  padding-right: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 80%;
  font-size: 3rem;
  transition: all 300ms;
 #homepage &{
     right: 0;
     top: 30%;
 }
}
.card__heart-back {
    @include mixins.linear-gradient;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
  opacity: 0;
  &:hover {
    opacity: 1;
    transform: scale(1.08);
  }
}
.fa-arrow-left {
  display: flex;
  font-size: 2rem;
  padding: 2rem;
}
.header__title__header {
  display: flex;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.3rem;
  h1 {
    margin: auto;
  }
  a {
    text-decoration: none;
    color: variables.$dark-secondary;
  }
}
@media (max-width: 1300px) {
  section.restos__menus {
    grid-template-columns: 1fr;
    gap: 0.2rem;
  }
}
.fa-check{
    @include mixins.color
}
