@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 10rem 5rem;
}
main h2 {
  margin: 3rem 0 1rem;
  font-size: 2rem;
}

@media (max-width: 1300px) {
  main {
    margin: 0 1rem 5rem;
  }
}
.list-fonctionnement {
  font-size: 1.4rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  counter-reset: etapes;
}
.list-fonctionnement p {
  position: relative;
}

.list-fonctionnement p::before {
  content: counter(etapes);
  counter-increment: etapes;
  background-color: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.list-fonctionnement__resto {
  padding: 2rem 2rem;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  display: flex;
  gap: 1rem;
  flex-basis: 20rem;
}
.list-fonctionnement__resto:hover {
  transform: scale(1.03);
  background: linear-gradient(#dea5ff, #ceabce);
  transition: 200ms;
}

@media (max-width: 1300px) {
  .list-fonctionnement {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 3rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 1300px) {
  .list-fonctionnement__resto {
    flex-basis: 1rem;
  }
}
.les-restaurants__placement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 1300px) {
  .les-restaurants__placement {
    display: flex;
    flex-direction: column;
  }
}
.menilmontant {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background-position: 50%;
  height: 20rem;
}

.les-restaurants__images {
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
}
.les-restaurants__images a {
  text-decoration: none;
  color: black;
}

.texte-resto {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  position: relative;
}
.texte-resto h3 {
  margin-top: 0;
}
.texte-resto p {
  margin-bottom: 0.5rem;
}

.les-images-resto {
  position: relative;
}
.les-images-resto h4 {
  position: absolute;
  color: rgba(0, 0, 0, 0.61);
  right: 1rem;
  background-color: #99e2d0;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.coeur-resto, .coeur-resto-2 {
  flex: 1 1 auto;
  text-align: end;
  padding-right: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 30%;
  font-size: 3rem;
  transition: all 300ms;
}

.coeur-resto-2 {
  color: #9356DC;
  opacity: 0;
}
.coeur-resto-2:hover {
  opacity: 1;
  transform: scale(1.08);
}

.footer__condition-general {
  margin-left: 2rem;
}
.footer__condition-general ul {
  padding-inline-start: 0px;
}

.footer {
  background-color: #333333;
  padding: 1rem 0;
  margin: -1rem;
  margin-top: 2rem;
}

.footer__list p {
  color: white;
  font-size: 1.3rem;
}

.footer__ohmyfood {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

body {
  margin: 0;
}

.menilmontant-couverture-image {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main.restos {
  margin: 0;
  background-color: #f6f6f6;
}

.titre-du-resto h2 {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  margin-top: -2rem;
  margin-bottom: 0;
  position: relative;
  font-size: 2rem;
}

section.restos__menus {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 1rem 1rem;
}
section.restos__menus h4 {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 0;
}
section.restos__menus p {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.menu-item {
  display: flex;
  background-color: #fff;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  border-radius: 1rem;
  margin: 0 1rem 1rem;
  overflow: hidden;
}

.menu-item__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 1rem;
  font-size: 1.2rem;
}

.commande {
  padding: 5rem 0 8rem;
}

.commande-resto {
  text-align: center;
}
.commande-resto a {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  font-size: 2rem;
  color: white;
  background: linear-gradient(#dea5ff, #ceabce);
}
.commande-resto:hover {
  transform: scale(1.03);
  transition: 200ms;
}

.footer {
  margin-top: 0;
}

.coeur-resto-page, .coeur-resto-page-1 {
  flex: 1 1 auto;
  text-align: end;
  padding-right: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 80%;
  font-size: 3rem;
  transition: all 300ms;
}

.coeur-resto-page-1 {
  color: #ff79da;
  opacity: 0;
}
.coeur-resto-page-1:hover {
  opacity: 1;
  transform: scale(1.08);
}

.menu-item__checkmark {
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  margin-right: -4rem;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  background-color: #99e2d0;
}

.menu-item:hover .menu-item__checkmark {
  margin-right: 0;
  transition: margin-right 0.5s;
}

.fa-arrow-left {
  display: flex;
  font-size: 2rem;
  padding: 2rem;
}

.titre__header {
  display: flex;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.3rem;
}
.titre__header h1 {
  margin: auto;
}
.titre__header a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1300px) {
  section.menus {
    grid-template-columns: 1fr;
    gap: 0.2rem;
  }
}
.menu-item, .menu-item__description, .menu-plats, .restos__menus__entrees, .menu-desserts, .list-desserts {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header {
  margin: -1rem;
}

.titre {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  font-size: 1.3rem;
}

.fa-map-marker-alt {
  font-size: 1rem;
}

.sous-titre {
  align-items: center;
  background-color: #f2f2f2;
  font-size: 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
}
.sous-titre i {
  font-size: 1.5rem;
}

.titre-menu {
  text-align: center;
  background-color: #f7f7f7ef;
  padding: 2rem;
}
.titre-menu p {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.titre-menu p h1 {
  margin: 0;
}

.titre-menu__recherche-restaurant {
  text-align: center;
}
.titre-menu__recherche-restaurant a {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(#dea5ff, #ceabce);
}

.titre-menu__recherche-restaurant:hover {
  transform: scale(1.03);
  transition: 200ms;
}

/*# sourceMappingURL=style.css.map */
