@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #f2f2f2;
  padding: 3rem 5rem 10rem;
  margin: -1rem;
}
main h2 {
  margin: 3rem 0 1rem;
  font-size: 2rem;
}

.fonctionnement {
  padding: 3rem;
}
.fonctionnement h2 {
  font-size: 2rem;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: anim-home 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-home {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}
.operation-list {
  font-size: 1.4rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  counter-reset: etapes;
}
.operation-list p {
  position: relative;
}
.operation-list__resto {
  padding: 2rem 2rem;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  display: flex;
  gap: 1rem;
  flex-basis: 20rem;
}
.operation-list__resto:hover {
  transform: scale(1.03);
  background: linear-gradient(#dea5ff, #ceabce);
  transition: 200ms;
}

.operation-list p::before {
  content: counter(etapes);
  counter-increment: etapes;
  background-color: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

@media (max-width: 1300px) {
  .operation-list {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 3rem;
    font-size: 1.4rem;
  }

  .operation-list__resto {
    flex-basis: 1rem;
  }
}
.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
}
.card a {
  text-decoration: none;
  color: black;
}
.card__placement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.card__texte {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  position: relative;
}
.card__texte h3 {
  margin-top: 0;
}
.card__texte p {
  margin-bottom: 0.5rem;
}
.card__link {
  position: relative;
}
.card__link h4 {
  position: absolute;
  color: rgba(0, 0, 0, 0.61);
  right: 1rem;
  background-color: #99e2d0;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.card__heart, .card__heart-2 {
  flex: 1 1 auto;
  text-align: end;
  padding-right: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 30%;
  font-size: 3rem;
  transition: all 300ms;
}

.card__heart-2 {
  color: #9356DC;
  opacity: 0;
}
.card__heart-2:hover {
  opacity: 1;
  transform: scale(1.08);
}

.menu-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background-position: 50%;
  height: 20rem;
}

@media (max-width: 1300px) {
  .card__placement {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  background-color: #333333;
  padding: 1rem 0;
  margin: -1rem;
  margin-top: 2rem;
}
.footer__general-condition {
  margin-left: 2rem;
}
.footer__general-condition ul {
  padding-inline-start: 0px;
}
.footer__list p {
  color: white;
  font-size: 1.3rem;
}
.footer__ohmyfood {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

body {
  margin: 0;
}

.banner-image {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main.restos {
  margin: 0;
  background-color: #f6f6f6;
}

.header__title-du-resto h2 {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  margin-top: -2rem;
  margin-bottom: 0;
  position: relative;
  font-size: 2rem;
}

section.restos__menus {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 1rem 1rem;
}
section.restos__menus h4 {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 0;
}
section.restos__menus p {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.menu-item {
  animation: annim-page 1s;
  animation-fill-mode: both;
  display: flex;
  background-color: #fff;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  border-radius: 1rem;
  margin: 0 1rem 1rem;
  overflow: hidden;
}
.menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menu-item__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 1rem;
  font-size: 1.2rem;
}
.menu-item__checkmark {
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  margin-right: -4rem;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  background-color: #99e2d0;
}
.menu-item__checkmark i {
  background: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
}
.menu-item__checkmark {
  transition: margin-right 0.5s;
}
.menu-item:hover .menu-item__checkmark {
  margin-right: 0;
}
.menu-item:hover .menu-item__checkmark i {
  animation: annim-check 0.5s ease;
}

.ordered {
  padding: 5rem 0 8rem;
}
.ordered__order {
  text-align: center;
}
.ordered__order a {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  font-size: 2rem;
  color: white;
  background: linear-gradient(#dea5ff, #ceabce);
}
.ordered__order:hover {
  transform: scale(1.03);
  transition: 200ms;
}

.footer {
  margin-top: 0;
}

.card__heart-page,
.card__heart-page-1 {
  flex: 1 1 auto;
  text-align: end;
  padding-right: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 80%;
  font-size: 3rem;
  transition: all 300ms;
}

.card__heart-page-1 {
  color: #ff79da;
  opacity: 0;
}
.card__heart-page-1:hover {
  opacity: 1;
  transform: scale(1.08);
}

.fa-arrow-left {
  display: flex;
  font-size: 2rem;
  padding: 2rem;
}

.header__title__header {
  display: flex;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.3rem;
}
.header__title__header h1 {
  margin: auto;
}
.header__title__header a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1300px) {
  section.restos__menus {
    grid-template-columns: 1fr;
    gap: 0.2rem;
  }
}
.restos__menu__section,
.restos__menu__section * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes annim-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes annim-page {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header {
  margin: -1rem;
}
.header__title {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  font-size: 1.3rem;
}
.header__map {
  align-items: center;
  background-color: #f2f2f2;
  font-size: 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
}
.header__map i {
  font-size: 1.5rem;
}
.header__title-menu {
  text-align: center;
  background-color: #f7f7f7ef;
  padding: 2rem;
}
.header__title-menu p {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.header__title-menu p h1 {
  margin: 0;
}
.header__title-menu__research-restaurant {
  text-align: center;
}
.header__title-menu__research-restaurant a {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(#dea5ff, #ceabce);
}
.header__title-menu__research-restaurant:hover {
  transform: scale(1.03);
  transition: 200ms;
}

.fa-map-marker-alt {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
