@use "sass/mixins.scss";
@use "sass/base";
@use "sass/fonctionnement";
@use "sass/home-restaurants";
@use "sass/footer";
@use "sass/restaurant";
@use "sass/annimation";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&family=Shrikhand&display=swap');

.header {
  margin: -1rem;
&__title {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  font-size: 1.3rem;
}
&__map {
  align-items: center;
  background-color: #f2f2f2;
  font-size: 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
 i {
  font-size: 1.5rem;
} 
}
&__title-menu {
  text-align: center;
  background-color: #f7f7f7ef;
  padding: 2rem;
 p {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
   h1 {
    margin: 0;
  }
}
}
&__title-menu__research-restaurant {
  text-align: center;
 a {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  font-size: 1.5rem;
  color: white;
  @include mixins.linear-gradient;
} 
}
&__title-menu__research-restaurant:hover {
  transform: scale(1.03);
  transition: 200ms;
}
}
.fa-map-marker-alt {
  font-size: 1rem;
}



