@use "./variables";
body{
    font-family: 'Roboto', sans-serif;
}
main {
    background-color: variables.$background-secondary;
  padding: 3rem 0.5rem 10rem;
  h2 {
    margin: 3rem 0 1rem;
    font-size: 2rem;
  }
}
@media (max-width: 1300px){
}
.fonctionnement{
  padding: 2rem;
  h2{
    font-size: 2rem;
  }
}
.loader{
  position: fixed;
  display: grid;
  place-items: center;
  background-color: variables.$background-tertiary;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: anim-home 2s 3s forwards;
  i{
    animation: anim-home 2s forwards;
  }
}
@keyframes anim-home{
  99%{
    transform: scale(1);
  }
  100%{
    opacity:0;
    transform: scale(0);
  }
}
@keyframes fade-out{
  100%{
    opacity: 0;

  }
}