@use "./variables.scss";
.footer{
background-color: variables.$dark;
padding: 1rem 0;
margin: -1rem;
margin-top: 2rem;
    &__general-condition{
        margin-left: 2rem;
        &__list{
            padding-inline-start: 0px;
        }
    }
    &__list p{
        color: variables.$background-tertiary;
        font-size: 1.3rem;
    }
    &__ohmyfood{
        color: variables.$background-tertiary;
        font-family: "Shrikhand", cursive;
        font-size: 2rem;
    }
    a{
        color: variables.$background-tertiary;
        font-size: 1.3rem;
        text-decoration: none;
    }
}
