@use "./mixins.scss";
@use "./variables.scss";
.card {
  background: variables.$background-tertiary;
  border-radius: 1rem;
  box-shadow: 0 0 16px variables.$dark-secondary;
  a{
    text-decoration: none;
    color: variables.$dark-secondary;
  }
  &__placement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  &__texte {
    background-color: variables.$background-tertiary;
    border-radius: 0 0 1rem 1rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    position: relative;
    h3 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  &__link{
    position: relative;
    h4{
      position: absolute;
      color: darken(variables.$primary,50%);
      right: 1rem;
      background-color: variables.$primary;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}
.menu-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background-position: 50%;
  height: 20rem;
}
@media (max-width: 1300px) {
  .card__placement {
    display: flex;
    flex-direction: column;
  }
}
