$primary: #99e2d0;
$secondary:#9356dce6;
$tertiary: #FF79DA;
$background: #f6f6f6;
$background-primary:#f7f7f7ef;
$background-secondary:#f2f2f2;
$background-tertiary:white;
$dark:rgb(51, 51, 51);
$dark-secondary:black;
$dark-tertiary:lighten($dark-secondary,50%);